{% extends "base.html" %}

{% block main %}
<div class="wysiwyg"><h2>{{ item.title }}</h2>

<div style="background-color: #eee;">
<code>{{ item }}</code>
</div>
<h3>members</h3>
<ul class="list is-disc">
  {% for i in member_list %}
  <li class="item">{{ i.user.name }} ({{ i.user.email }}) <span class="badge is-plain {% if i.role == 'manager' %}is-danger{% elif i.role == 'researcher' %}is-warning{% else %}is-success{% endif %}">{{ i.role }}</span> - <a href="member/{{ i.id }}/delete" onclick="javascript: return confirm('sure?')">delete</a></li>
  {% endfor %}
</ul>

<h3>study areas</h3>
<ul class="list is-disc">
  {% for i in study_area_list %}
  <li class="item">{{ i.name }} ({{ i.count }}) - <a href="studyarea/{{ i.id }}/delete-annotation" onclick="javascript: return confirm('sure?')">clear annotations</a></li>
  <ul class="list is-square">
    {% for j in i.cl_list %}
    <li class="item">{{ j.name }} ({{ j.count }})- <a href="studyarea/{{ i.id }}/delete-annotation?camera-location={{ j.id}}" onclick="javascript: return confirm('sure?')">clear annotations</a></li>
    {% endfor %}
  </ul>
  {% endfor %}
</ul>

<a>delete all annotations</a></div>
{% endblock %}
